/*-------------
 	General
-------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ecf0f1;
    line-height: 1.4;
   
}

html {
    font: normal 16px sans-serif;
    color: #555;
}

ul,
nav {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;

    opacity: 0.9;
}

a:hover {
    opacity: 1;
}

a.btn {
    color: #fff;
    border-radius: 4px;
    text-transform: uppercase;
    background-color: salmon;
    font-weight: 800;
    text-align: center;
}

hr {
    width: 150px;
    height: 2px;
    background-color: #2196F3;
    border: 0;
    margin-bottom: 80px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 125px 100px;
}

@media (max-width: 1000px) {

    section {
        padding: 100px 50px;
    }

}

@media (max-width: 600px) {

    section {
        padding: 80px 30px;
    }

}

section h3.title {
    color: #414a4f;
    text-transform: capitalize;
    font: bold 32px 'Open Sans', sans-serif;
    margin-bottom: 35px;
    text-align: center;
}

section p {
    max-width: 800px;
    text-align: center;
    margin-bottom: 35px;
    padding: 0 20px;
    line-height: 2;
}

ul.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/*-------------
 	Header
-------------*/

header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 35px 100px 0;
}

header h2 {
    font-family: 'Quicksand', sans-serif;
}

header nav {
    display: flex;
}

header nav li {
    margin: 0 15px;
}

header nav li:first-child {
    margin-left: 0;
}

header nav li:last-child {
    margin-right: 0;
}



@media (max-width: 1000px) {
    header {
        padding: 20px 50px;
    }
}


@media (max-width: 700px) {
    header {
        flex-direction: column;
    }

    header h2 {
        margin-bottom: 15px;
    }
}



/*----------------
 	Hero Section
----------------*/

.hero {
    position: relative;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
    text-align: center;
}

.hero .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(../img/banner.jpg);
    z-index: -1;
}

.hero .background-image:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #414a4f;
    opacity: 0.5;
}

.hero h1 {
    font: bold 60px 'Open Sans', sans-serif;
    margin-bottom: 15px;
}

.hero h3 {
    font: normal 28px 'Open Sans', sans-serif;
    margin-bottom: 40px;
}

.hero a.btn {
    padding: 20px 46px;
}

@media (max-width: 800px) {

    .hero {
        min-height: 600px;
    }

    .hero h1 {
        font-size: 48px;
    }

    .hero h3 {
        font-size: 24px;
    }

    .hero a.btn {
        padding: 15px 40px;
    }

}



/*--------------------
 	Our Work Section
---------------------*/

.оur-work {
    background-color: #fff;
}

.our-work .grid li {
    padding: 20px;
    height: 350px;
    border-radius: 3px;

    background-clip: content-box;
    background-size: cover;
    background-position: center;
    background-color: #333;
}

.our-work .grid li.small {
    flex-basis: 40%;
}

.our-work .grid li.large {
    flex-basis: 60%;
}


@media (max-width: 1000px) {

    .our-work .grid li.small,
    .our-work .grid li.large {
        flex-basis: 100%;
    }

}



/*----------------------
 	Features Section
----------------------*/

.features {
    background-color: #f7f7f7;
}

.features .grid li {
    padding: 0 30px;
    flex-basis: 33%;
    text-align: center;
}

.features .grid li i {
    font-size: 50px;
    color: #2196F3;
    margin-bottom: 25px;
}

.features .grid li h4 {
    color: #555;
    font-size: 20px;
    margin-bottom: 25px;
}

.features .grid li p {
    margin: 0;
}

@media (max-width: 1000px) {

    .features .grid li {
        flex-basis: 70%;
        margin-bottom: 65px;
    }

    .features .grid li:last-child {
        margin-bottom: 0;
    }

}


@media (max-width: 600px) {

    .features .grid li {
        flex-basis: 100%;
    }

}



table {
    border: 0px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr {
    background: #f8f8f8;
    border: 0px solid #ddd;
    padding: .35em;
}

table th,
table td {
    padding: .625em;
    text-align: center;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }
    table caption {
        font-size: 1.3em;
    }
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }
    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }
    table td:before {
        /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    table td:last-child {
        border-bottom: 0;
    }
}




/*--------------------
 	Reviews Section
--------------------*/

.reviews {
    background-color: #fff;
}

.reviews .quote {
    text-align: center;
    width: 80%;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 0;
}

.reviews .author {
    font-size: 18px;
    margin-bottom: 50px;
}

.reviews .author:last-child {
    margin-bottom: 0;
}

@media (max-width: 1000px) {

    .reviews .quote {
        font-size: 20px;
    }

    .reviews .author {
        font-size: 16px;
    }

}



/*---------------------
 	Contact Section
---------------------*/

.contact {
    background-color: #f7f7f7;
    
}

.contact form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    width: 80%;
}

.contact form input {
    padding: 15px;
    flex: 1;
    margin-right: 30px;
    font-size: 18px;
    color: #555;
    
}

.contact form .btn {
    padding: 18px 42px;
}
textarea{
    
    font-family: sans-serif;
}


@media (max-width: 800px) {

    .contact form input {
        flex-basis: 100%;
        margin: 0 0 20px 0;
    }

}



/*-------------
 	Footer
-------------*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
    background-color: #414a4f;
    padding: 60px 0;
}

footer ul {
    display: flex;
    margin-bottom: 25px;
    font-size: 32px;
}

footer ul li {
    margin: 0 8px;
}

footer ul li:first-child {
    margin-left: 0;
}

footer ul li:last-child {
    margin-right: 0;
}

footer p {
    
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 10px;
}

footer p a {
    color: #fff;
}

@media (max-width: 700px) {

    footer {
        padding: 80px 15px;
    }

}




/* Cards product */

h2 {
    font-size: 2em;
    color: white;
}

.h2 {
    font-size: 2em;
    color: firebrick;
}

.centered {

    margin: 0 auto;
    padding: 100px 1em;
}

@media screen and (min-width: 52em) {
    .centered {
        max-width: 52em;
    }
}

/* Card Based Layout - Base styles */



.card {

    background: white;
    margin-bottom: 2em;
}

.card a {
    color: black;
    text-decoration: none;
}

.card a:hover {
    box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

.card-content {
    padding: 1.4em;
}

.card-content h2 {
    margin-top: 0;
    margin-bottom: .5em;
    font-weight: normal;
}

.card-content p {
    font-size: 95%;
}

.img {
    width: 100%;
    height: auto;
}


/* Flexbox styles */

@media screen and (min-width: 40em) {
    .cards {
        margin-top: -1em;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .card {
        margin-bottom: 1em;
        display: flex;
        flex: 0 1 calc(50% - 0.5em);
        /* width: calc(50% - 1em); */
    }
}

/* mq 40em*/

@media screen and (min-width: 60em) {
    .cards {
        margin-top: inherit;
    }

    .card {
        margin-bottom: 2em;
        display: flex;
        flex: 0 1 calc(33% - 0.5em);
        /* width: calc(33% - 1em); */
    }
}

/* mq 60em*/

/* contact form */

.container1 {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    font-style: italic;
}

.container1 * {
    box-sizing: border-box;
}

.flex-outer,
.flex-inner {
    list-style-type: none;
    padding: 0;
}

.flex-outer {
    max-width: 800px;
    margin: 0 auto;
}

.flex-outer li,
.flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex-inner {
    padding: 0 8px;
    justify-content: space-between;
}

.flex-outer > li:not(:last-child) {
    margin-bottom: 20px;
}

.flex-outer li label,
.flex-outer li p {
    padding: 8px;
    font-weight: 300;
    letter-spacing: .09em;
    text-transform: uppercase;
}

.flex-outer > li > label,
.flex-outer li p {
    flex: 1 0 120px;
    max-width: 220px;
}

.flex-outer > li > label + *,
.flex-inner {
    flex: 1 0 220px;
}

.flex-outer li p {
    margin: 0;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
    padding: 15px;
    border: none;
}

.flex-outer li button {
    margin-left: auto;
    margin-right: auto;
    padding: 8px 16px;
    border: none;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
}

.flex-inner li {
    width: 100px;
}





/* Media Queries */

/* Card sizing */

/* Colors */

/* Calculations */

/* Placeholders */

@media (min-width: 1000px) {
    #timeline .demo-card:nth-child(odd) .head::after,
    #timeline .demo-card:nth-child(even) .head::after {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
    }

    #timeline .demo-card:nth-child(odd) .head::before,
    #timeline .demo-card:nth-child(even) .head::before {
        position: absolute;
        content: "";
        width: 9px;
        height: 9px;
        background-color: #bdbdbd;
        border-radius: 9px;
        box-shadow: 0px 0px 2px 8px #f7f7f7;
    }
}

/* Some Cool Stuff */

.demo-card:nth-child(1) {
    order: 1;
}

.demo-card:nth-child(2) {
    order: 4;
}

.demo-card:nth-child(3) {
    order: 2;
}

.demo-card:nth-child(4) {
    order: 5;
}

.demo-card:nth-child(5) {
    order: 3;
}

.demo-card:nth-child(6) {
    order: 6;
}

/* Border Box */

* {
    box-sizing: border-box;
}


#timeline {
    padding: 100px 0;
    background: #f7f7f7;
    border-top: 1px solid rgba(191, 191, 191, 0.4);
    border-bottom: 1px solid rgba(191, 191, 191, 0.4);
}

#timeline h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 100;
    margin-bottom: 20px;
}

#timeline p.leader {
    text-align: center;
    max-width: 90%;
    margin: auto;
    margin-bottom: 45px;
}

#timeline .demo-card-wrapper {
    position: relative;
    margin: auto;
}

@media (min-width: 1000px) {
    #timeline .demo-card-wrapper {
        display: flex;
        flex-flow: column wrap;
        width: 1170px;
        height: 1650px;
        margin: 0 auto;
    }
}

#timeline .demo-card-wrapper::after {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 1px solid rgba(191, 191, 191, 0.4);
}

@media (min-width: 1000px) {
    #timeline .demo-card-wrapper::after {
        border-left: 1px solid #bdbdbd;
    }
}

#timeline .demo-card {
    position: relative;
    display: block;
    margin: 10px auto 80px;
    max-width: 94%;
    z-index: 2;
}

@media (min-width: 480px) {
    #timeline .demo-card {
        max-width: 60%;
        box-shadow: 0px 1px 22px 4px rgba(0, 0, 0, 0.07);
    }
}

@media (min-width: 720px) {
    #timeline .demo-card {
        max-width: 40%;
    }
}

@media (min-width: 1000px) {
    #timeline .demo-card {
        max-width: 450px;
        height: 400px;
        margin: 90px;
        margin-top: 45px;
        margin-bottom: 45px;
    }
    #timeline .demo-card:nth-child(odd) {
        margin-right: 45px;
    }
    #timeline .demo-card:nth-child(odd) .head::after {
        border-left-width: 15px;
        border-left-style: solid;
        left: 100%;
    }
    #timeline .demo-card:nth-child(odd) .head::before {
        left: 491.5px;
    }
    #timeline .demo-card:nth-child(even) {
        margin-left: 45px;
    }
    #timeline .demo-card:nth-child(even) .head::after {
        border-right-width: 15px;
        border-right-style: solid;
        right: 100%;
    }
    #timeline .demo-card:nth-child(even) .head::before {
        right: 489.5px;
    }
    #timeline .demo-card:nth-child(2) {
        margin-top: 180px;
    }
}

#timeline .demo-card .head {
    position: relative;
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 400;
}

#timeline .demo-card .head .number-box {
    display: inline;
    float: left;
    margin: 15px;
    padding: 10px;
    font-size: 35px;
    line-height: 35px;
    font-weight: 600;
    background: rgba(0, 0, 0, 0.17);
}

#timeline .demo-card .head h2 {

    font-size: 1rem;

    letter-spacing: 2px;
    margin: 0;
    padding-bottom: 6px;
    line-height: 1rem;
}

@media (min-width: 480px) {
    #timeline .demo-card .head h2 {
        font-size: 100%;
        line-height: 1.2rem;
    }
}

#timeline .demo-card .head h2 span {
    display: block;
    font-size: 0.6rem;
    margin: 0;
}

@media (min-width: 480px) {
    #timeline .demo-card .head h2 span {
        font-size: 0.8rem;
    }
}

#timeline .demo-card .body {
    background: #fff;
    border: 1px solid rgba(191, 191, 191, 0.4);
    border-top: 0;
    padding: 15px;
}

@media (min-width: 1000px) {
    #timeline .demo-card .body {
        height: 315px;
    }
}

#timeline .demo-card .body p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
}

#timeline .demo-card .body img {
    display: block;
    width: 100%;
}

#timeline .demo-card--step1 {
    background-color: #46b8e9;
}

#timeline .demo-card--step1 .head::after {
    border-color: #46b8e9;
}

#timeline .demo-card--step2 {
    background-color: #3ee9d1;
}

#timeline .demo-card--step2 .head::after {
    border-color: #3ee9d1;
}

#timeline .demo-card--step3 {
    background-color: #ce43eb;
}

#timeline .demo-card--step3 .head::after {
    border-color: #ce43eb;
}

#timeline .demo-card--step4 {
    background-color: #4d92eb;
}

#timeline .demo-card--step4 .head::after {
    border-color: #4d92eb;
}

#timeline .demo-card--step5 {
    background-color: #46b8e9;
}

#timeline .demo-card--step5 .head::after {
    border-color: #46b8e9;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;

    border-top: 20px solid white;
}

.wrapper {
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
}
.tabs {
  position: relative;
  margin: 3rem 0;
  background: #1abc9c;
  height: 14.75rem;
}
.tabs::before,
.tabs::after {
  content: "";
  display: table;
}
.tabs::after {
  clear: both;
}
.tab {
  float: left;
}
.tab-switch {
  display: none;
}
.tab-label {
  position: relative;
  display: block;
  line-height: 2.75em;
  height: 3em;
  padding: 0 1.618em;
  background: #1abc9c;
  border-right: 0.125rem solid #16a085;
  color: #fff;
  cursor: pointer;
  top: 0;
  transition: all 0.25s;
}
.tab-label:hover {
  top: -0.25rem;
  transition: top 0.25s;
}
.tab-content {
  height: 12rem;
  position: absolute;
  z-index: 1;
  top: 2.75em;
  left: 0;
  padding: 1.618rem;
  background: #fff;
  color: #2c3e50;
  border-bottom: 0.25rem solid #bdc3c7;
  opacity: 0;
  transition: all 0.35s;
}
.tab-switch:checked + .tab-label {
  background: #fff;
  color: #2c3e50;
  border-bottom: 0;
  border-right: 0.125rem solid #fff;
  transition: all 0.35s;
  z-index: 1;
  top: -0.0625rem;
}
.tab-switch:checked + label + .tab-content {
  z-index: 2;
  opacity: 1;
  transition: all 0.35s;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 40px;
  padding: 8px 12px;
  position: absolute;
  bottom: 300px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

        #map{
            width: 100%;
            height: 400px;;
        }


/*Table theme 1*/
.demotbl {
    border-collapse: collapse;
    border: 1px solid #69899F;
  }
.demotbl th{
    border: 2px solid #69899F;
    color: #3E5260;
    padding:10px;
  }
.demotbl td{
    border: 1px dotted black;
    color: #002F5E;
    padding:15px;
    width:100px;
  }
  
/* Class two*/
.demotbl2 {
    border: 0px solid #69899F;
  }
.demotbl2 th{
    padding:15px;
    color:#fff;
    text-shadow:1px 1px 1px #568F23;
    border-bottom:3px solid #9ED929;
    background-color:#9DD929;
    background:-webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.02, rgb(123,192,67)),
        color-stop(0.51, rgb(139,198,66)),
        color-stop(0.87, rgb(158,217,41))
        );
    background: -moz-linear-gradient(
        center bottom,
        rgb(123,192,67) 3%,
        rgb(139,198,66) 52%,
        rgb(158,217,41) 88%
        );
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-radius:5px 5px 0px 0px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
  }
.demotbl2 td{
    width:100px;
    padding:10px;
    text-align:center;
    vertical-align: top;
    background-color:#DEF3CA;
    border: 1px solid #BED3AB;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    color:#666;
    text-shadow:1px 1px 1px #fff;

  }  

.demotbl3 {
    border-collapse: collapse;
    border: 1px solid #A40000;
  }
.demotbl3 th{
    border: 1px solid #A40000;
    color: #fff;
    padding:10px;
    background-color:#FF2F2F;
  }
.demotbl3 td{
    border: 1px dotted black;
    color: #002F5E;
    padding:15px;
    width:100px;
    background-color:#FFE1E1;
  }


